$color__border: #999;
$color__border-blue: #007cba;
$color__border-light: #ccc;
$color__border-lighter: #f1f1f1;
$color__border-editor: #e2e4e7;
$color__border-editor-light: #e4e8ef;

$color__background-black: #23282d;
$color__background-editor: #fff;
$color__background-dark: #d2d2d2;
$color__background-grey: #f3f4f5;
$color__background-green: #69be7a;
$color__background-orange: #e28f25;
$color__background-red: #c44;
$color__background_black_translucent: rgba(0, 0, 0, 0.8);
$color__background-default-image: rgba(0, 0, 20, 0.1);

$color__box-shadow: rgba(0, 0, 40, 0.07);

$color__input-border: #7e8993;
$color__input-border-selected: #007cba;
$color__input-box-shadow: transparent;
$color__input-box-shadow-selected: transparent;

$color__text: #444;
$color__text-red: #c92c2c;
$color__text-light-red: #dc6969;
$color__text-grey: #888;
$color__text-dark: #666;
$color__text-disabled: #aaa;
$color__text-green: #070;

$color__fill-black: #000;
$color__fill-grey: #888;
$color__fill-light-grey: #ccc;
$color__fill-delete: #a00;
$color__fill-white: #fff;

$color__text-alternative: #fff;
$color__background-alternative-a: #2a2a3f;
$color__background-alternative-b: #d24633;
$color__background-alternative-c: #4f97c5;
$color__background-alternative-d: #64ab64;
$color__background-alternative-e: #ff9000;
$color__background-alternative-f: #60609f;
