.neliosr-deactivation {
	display: inline-block;

	&__button.is-link {
		text-decoration: none;
	}

	&__options {
		margin: 1em;
	}

	&__subscription-warning {
		color: #a00;
		display: flex;
		font-style: italic;
		margin-top: 1em;
		margin-bottom: 2em;
		max-width: 40em;

		.dashicon {
			flex-grow: 0;
			margin-right: 0.2em;
		}
	}

	&__actions {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}
